@using NetDeviceManager.Models
@model List<Object_Group>

<div class="accordion" id="accordionObjectGroups">
    @for (int i = 0; i < Model.Count; i++)
    {

        <div class="accordion-item">
            <h2 class="accordion-header" id="objectGroups-heading-@i.ToString()">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#objectGroups-@i.ToString()" aria-expanded=@(i == 0 ? "true" : "false") aria-controls="objectGroups-@i.ToString()">
                    <div class="row" style="width: 100%">
                        <div class="col-6 text-truncate">
                            @Model[i].Name
                        </div>

                        <div class="col-4">
                            @Model[i].Ipv4.First().IpAddress/@(new IpNetmask(Model[i].Ipv4.First().Netmask).IntMask)
                        </div>
                        @if (Model[i].Ipv4.Count > 1)
                        {
                            <div class="col-1">
                                (+@(Model[i].Ipv4.Count - 1))
                            </div>
                        }
                    </div>
                </button>
            </h2>
        </div>
        <div id="objectGroups-@i.ToString()" class="accordion-collapse collapse in" aria-labelledby="objectGroups-heading-@i.ToString()">
            <div class="accordion-body">
                <div style="display: flex;flex-wrap: wrap;flex-direction: row-reverse">
                    @for (int c = 1; c < Model[i].Ipv4.Count; c++)
                    {
                        <div class="row" style="width: 100%">
                            <div class="col-6">
                            </div>

                            <div class="col-3">
                                @Model[i].Ipv4[c].IpAddress/@(new IpNetmask(Model[i].Ipv4[c].Netmask).IntMask)
                            </div>

                        </div>
                    }
                    <div>
                        <div class="btn-group" role="group">
                            <button class="btn btn-sm rounded-10 btn-outline-primary" type="button" data-toggle="tooltip" data-placement="top" title="Добавить" onclick="ShowAddObjectGroupItem('@Model[i].Name')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>
                            </button>
                            <button class="btn btn-sm rounded-10 btn-outline-danger" type="button" data-toggle="tooltip" data-placement="top" title="Удалить" onclick="ShowDeleteObjectGroup('@Model[i].Name')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8" />
                                </svg>
                            </button>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    }


</div>